<template>
    <h1>Departments</h1>
    <div v-for="item in list" :key="item.id">
    <pre>{{ item }}</pre> 
    </div> 
</template>

<script>
import axios from 'axios'
import xml2json from '@hendt/xml2json';

export default {
    data(){
        return{
            list:[]
        }
    },
    async mounted()
    {
        axios.get('http://localhost:8090/getAllDepartments').
        then(resp=>{
            console.warn(resp.data)
            const json = xml2json(resp.data);
                this.list = json
        })
    }
};
</script>