<template>
    <h1>Employees</h1>
    <div v-for="item in list" :key="item.id">
        <pre>{{ list }}</pre>
    </div>
</template>

<script>
import axios from 'axios';
import xml2json from '@hendt/xml2json';

export default {
    data() {
        return {
            list: []
        }
    },

    async mounted() {

        axios.get('http://localhost:8090/getAllEmployees').
            then(resp => {
                const json = xml2json(resp.data);
                this.list = json
            })
    }
    // methods: {
    // mounted() {
    //     axios.get('http://localhost:8090/getAllEmployees').
    //         then(resp => {
    //             console.log(resp)
    //             //console.log(parseXmlToJson(resp.data))
    //             this.list = resp
    //         })
    // },
    // parseXmlToJson(xml) {
    //     const json = {};
    //     for (const res of xml.matchAll(/(?:<(\w*)(?:\s[^>]*)*>)((?:(?!<\1).)*)(?:<\/\1>)|<(\w*)(?:\s*)*\/>/gm)) {
    //         const key = res[1] || res[3];
    //         const value = res[2] && parseXmlToJson(res[2]);
    //         json[key] = ((value && Object.keys(value).length) ? value : res[2]) || null;
    //     }
    //     return json;
    // },
    //},
};
</script>