<template>
    <div id="nav">
        <router-link to="/">Home</router-link> |
        <router-link to="/about">About</router-link> |
        <router-link to="/location">Locations</router-link> |
        <router-link to="/department">Departments</router-link> |
        <router-link to="/employee">Employees</router-link>
    </div>
    <router-view/>
</template>